@charset "utf-8";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 32px;
  background: gainsboro;
}

header {
  /* border: 1px solid rgb(6, 6, 68); */
  display: flex;
  justify-content: center;

  img {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: auto;
  }
}

h1 {
  text-align: center;
  margin: 32px;
  border-top: 3px double black;
  border-bottom: 3px double black;
}

.p-1 {
  font-size: 32px;
  color: white;
  text-shadow: gray;
  text-align: center;
  position: absolute;
  top: 64px;
  left: 300px;
}

h3 {
  padding: 10px 0;
  font-size: 20px;
}

section {
  box-sizing: border-box;
}

.day1 {
  padding: 16px;
  background: #fb4838;
  border-left: 32px solid rgb(143, 29, 29);
  width: 50%;
  flex: 1;
  border-radius: 24px;
  min-width: 500px;
  box-shadow: 8px 8px 8px rgb(137, 15, 15);
}

.day2 {
  background: rgb(62, 110, 255);
  border-left: 32px solid rgb(16, 18, 137);
  flex: 1;
  width: 50%;
  border-radius: 24px;
  padding: 16px;
  box-shadow: 8px 8px 8px rgb(15, 19, 137);
}

li {
  font-size: 20px;
}

li:hover {
  background: rgb(210, 209, 209);
}

.all {
  display: flex;
  gap: 16px;

}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
}

small {
  margin-top: 32px;
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  background: rgb(236, 252, 12);
  border-left: 32px solid rgb(157, 179, 12);
  box-shadow: 8px 8px 8px rgb(160, 179, 19);
  border-radius: 16px;
  padding: 16px;
  width: 100%;
}

@media (max-width:1000px) {
  .all {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content:space-between; */
  }

  h1 {
    text-align: center;
    margin: 32px;
  }

  img {
    display: flex;
    justify-content: center;
    max-width: 600px;
    height: auto;
    width: 100%;
    /* text-align: center; */
  }

  .day1 {
    margin-top: 16px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
  }

  .day2 {
    margin-top: 32px;
    min-width: 500px;
    display: flex;
    /* justify-content: center; */
  }

  .p-1 {
    font-size: 32px;
    color: white;
    text-shadow: gray;
    text-align: center;
    position: absolute;
    top: 64px;
    left: 15%;
  }

  footer {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  small {
    margin-top: 32px;
    background: rgb(236, 252, 12);
    border-left: 32px solid rgb(133, 150, 19);
    box-shadow: 8px 8px 8px rgb(123, 138, 16);
    border-radius: 16px;
    padding: 16px;
    width: 50%;
    min-width: 500px;
  }
}